/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
body{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    background-color: #242323;
    width: 100%;
}

.text-primary{
    color: #AAAAAA !important;
}

.text-secondary{
    color: #2BDBE7 !important;
}

.btn-primary{
    background-color: #2BDBE7 !important;
}

.bg-dark{
    background-color: #333333 !important;
}