<div class="media background d-flex flex-column justify-content-center align-items-center">
    
    <h3 class="text-primary">Curso</h3>
    <h1 class="text-secondary" style="text-shadow: 0px 0px 10px #3d91ab;">Programação para Iniciantes</h1>
    <p class="text-primary w-50 text-center">Desenvolva habilidades técnicas e interpessoais. Aprenda lógica de programação, algoritmos e soft skills como comunicação e trabalho em equipe. Projetos práticos e instrutores experientes garantem uma experiência de aprendizado envolvente. Prepare-se para se destacar na indústria de tecnologia!</p>
    <button class="btn btn-primary btn-lg text-dark rounded-0" style="font-size: 14px; width: 15%;">INSCREVA-SE</button>
</div>
